.containerTabs {
	/* width: 610 px; */
	/* margin: 0 auto; */
}

.tabsNo {
	width: 605px;
	display: flex;
     flex: 1 100%;
	justify-content: space-between;
}

.tabsNo button {
	/* display: flex;
    align-items: center; */

	border: 1px solid #d8d6d6;
	color: #242323;
	font-weight: bold;
	cursor: pointer;
	padding: 15px;
	margin: 0px 5px;
	border-radius: 10px;
	width: 100%;
	background-color: #ededed;
	transition: all 0.5s ease-out;
}

/* .tabsNo button:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.15);
} */

.tabsNo button:disabled {
	background: #333be6;
	color: white;
}

.tabsTitle {
	color: black;
	font-size: medium;
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: 600;
}

.contentNo {
	/* padding: 10px 15px 50px 20px; */
	padding: 30px 20px;
	margin-top: 10px;
	margin-right: 5px;
	background-color: #ededed;
	border-radius: 10px;
	font-weight: 300;
	line-height: 30px;
	font-size: 16px;
	text-align: justify;
	border: 1px solid #d8d6d6;
	width: 600px;
}

.contentNo,
button {
	font-size: 15px;
}

@media only screen and (max-width: 1024px) {


	.tabsNo button {
		flex: 0  auto;
	}
}
